# APIKEY=consumerKey,consumerSecret,accessToken,accessTokenSecret
# To avoid Twitter API limits, you can add as many keys as possible.
# Each line is one API kay, which contains 4 items. The format is as follow:
# APIKEY=consumerKey,consumerSecret,accessToken,accessTokenSecret
# For example:
# API1=xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx
# API2=xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx
# API3=xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx
# API4=xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx
# API5=xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx,xxxxxxxxxxx (Rember to remove '#')

